@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background: #c38af9;
    /* background: #f99; */
}

h1 {
    text-align: center;
    margin: 2rem;
    color: #fff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.46);
}